In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
for n in list1:
    print(n*n)

In [ ]:
list1=[1,2,3,4,5,6,7,8,9,10]
list2=[]
for m in list1:
    if(m%2!=0):
        list2.append(m)
print(list2)

In [ ]:
list1= list(range(1,101))
list2=[]
for i in list1:
    if(i>1):
        for j in range(2,i):
            print(i,j)
            if(i%j==0):
                print(i,j)
                break
        else:
            list2.append(i)  
print(list2)

In [ ]:
list1= list(range(1,31))
print(list1)
list2=[]
for i in list1:
    list2.append(i**(1/3))
print(list2)
#print(list2.index)

In [ ]:
tup1=('Netflix','Prime',234,987)
tup2=(2,3,4,5,6,7)
tup3=("a","s","d","f")
print(tup1)
print(tup2)
print(tup3)

In [ ]:
tup4=()
tup4

In [ ]:
id(tup4)

In [ ]:
print(tup1[1])
print(tup2[4])
print(tup3[2])

In [ ]:
tup1[2]=10

In [ ]:
print(tup1[1:4])
tup2[2:5]

In [ ]:
tup=(1,2,3,4,5)
print(tup)
tup=(6,7,8)
print(tup)

In [ ]:
print(tup1)
print(tup2)
tup4=tup1+tup2
print(tup4)

In [ ]:
tup5=('a','b','c')
print(tup5)
del(tup5)
print(tup5)

In [ ]:
L1=[1,2,3]
#remove
L1.remove(2)
print (L1)
#append
L1.append('abc')
print (L1)
#pop
L1.pop(1)
print(L1)
#insert
L1.insert(2,'xyz')
print(L1)
#extend
L2=[5,6,'abc']
L1.extend(L2)
print (L1)
#reverse
L1.reverse ()
print (L1)
#count
print(L1.count('abc'))
#length
print(len(L1))

In [ ]:
tup=(1,2,3)
tup.remove(1)
tup

In [ ]:
tup=(1,2,3)
tup.append(5)
tup

In [ ]:
tup=(1,2,3)
tup.pop(1)
tup

In [ ]:
tup=(1,2,3,4)
tup.insert(1,5)
tup

In [ ]:
tup8=('a','b','c')
tup.extend(tup)
tup

In [ ]:
tup=(1,2,3,4)
tup.reverse()
tup

In [ ]:
tup=(1,2,3,4,2)
print(tup.count(2))
tup

In [ ]:
tup=(1,2,3,4,2)
print(tup.index(2))
tup

In [ ]:
tup=(1,2,3,4)
for i in tup:
    print(i*i)

In [ ]:
tup=(1,2,3,4,5,6,7,8,9,10)
tup2=()
for i in tup:
    if(i%2!=0):
        print(i)

In [ ]:
tup=(1,2,3,4,5,6,7,8,9,10)
for i in tup:
    print(i**(1/3))

In [ ]:
tup=(1,2,3,(2,5,6),7,8,9,10)
print(tup.count(2))

In [ ]:
tup=tuple(range(10,20))
tup

In [ ]:
tup=tuple(range(0,10))
for i in tup:
    print(i**(1/3))

In [ ]:
tup=(1,2,3,7,8,9,10)
print(tup.index(2))

In [ ]:
dict1 ={'Room No':[101,102,103,104],
      'Occupancy':[2,4,5,6],
      'Cot':['Twin Bed','King Sized','Double Bed','Queen Sized'],
      'Sea View':[True,False,True,False],
      'AC':['AC','Non-AC','Non-AC','AC'] }
dict1

In [ ]:
dict1['Sea View'][1]

In [ ]:
for i in dict1.values():
    print(i[0])

In [ ]:
for i in dict1.keys():
    print(i)

In [ ]:
import pandas as pd
df=pd.DataFrame(dict1)
df

In [ ]:
Days={'Sun','Mon','Mon','Tue','Wed'}
Days

In [ ]:
Days=['Sun','Mon','Mon','Tue','Wed','Thu','Thu','Fri']
print(Days)
Days=set(Days)
print(Days)
Days=list(Days)
print(Days)

In [ ]:
id(Days)

In [ ]:
Days={'Sun','Mon','Mon','Tue','Wed'}
Days1={'Thu','Thu','Fri','Sat'}
print(Days)
Days1

In [ ]:
print(Days+Days1)

In [ ]:
Days.remove('Sun')
Days

In [ ]:
Days.remove(Days[0])
Days

In [ ]:
print(Days1)
del(Days1)
Days1

In [ ]:
Days.append('Thu')
Days

In [ ]:
Days.pop()
Days

In [ ]:
Days.insert('Mon')
Days

In [ ]:
Days.extend(Days1)
Days

In [ ]:
Days.sort()
Days

In [ ]:
Days.count('Sun')

In [ ]:
len(Days)

In [ ]:
Days2={}
Days2

In [ ]:
Days2=set(range(11))
Days2

In [ ]:
for i in Days2:
    print(i)

In [ ]:
S1=set(['mon','tue','wed'])
print(S1)
#add
S1.add('thur')
print(S1)
#discard
S1.discard('thur')
print(S1)
#superset and subset
S2=set(['mon','fri','sat','tue','wed'])
print(S1<=S2)
print(S1>=S2)

In [ ]:
S1=set(['mon','tue','wed'])
print(S1)

In [ ]:
S1.add('thur')
print(S1)

In [ ]:
S1.discard('thur')
print(S1)

In [ ]:
S2=set(['mon','fri','sat','tue','wed'])
print(S1<=S2)
print(S1>=S2)

In [ ]:
S1=set(['mon','tue','wed'])
S2=set(['thu','fri','sat','sun'])
S3=S1|S2
S3

In [ ]:
S1=set(['mon','tue','wed'])
S2=set(['mon','fri','sat','tue','wed'])
S3=S1&S2
print(S3)
S4=S2-S1
print(S4)

In [ ]:
S1=set(['mon','tue','wed'])
print(S1)
#add
S1.add('thur')
print(S1)
#discard
S1.discard('thur')
print(S1)
#superset and subset
S2=set(['mon','fri','sat','tue'])
print(S1<=S2)
print(S1>=S2)
#union
print (S1|S2)
#intersection
print(S1&S2)
#Difference
print(S1-S2)

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("F:\\Data Science\\Data Sets\\cp-national-datafile-csv.csv")

In [ ]:
df

In [ ]:
df.head()

In [ ]:
df.head(10)

In [ ]:
df.tail()

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df_describe=df.describe()
print(df_describe)

In [ ]:
df.describe.iloc[4,0]

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df['Year'].min()

In [ ]:
df['UpperCIB'].max()

In [ ]:
df.mean()

In [ ]:
df['EstCode'].value_counts()

In [ ]:
df.head(5).mean()

In [ ]:
df[['Year','SE']]

In [ ]:
df['LowerCIB'].describe()

In [ ]:
df.groupby(['Year']).mean()

In [ ]:
df.groupby('Year')['Estimate'].max()

In [ ]:
df.groupby('Year')[['Estimate','SE']].count()

In [ ]:
df.SE>2

In [ ]:
df[df.SE>2]

In [ ]:
df[['MsCode','Estimate']][df.SE>2]

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv")

In [ ]:
df

In [ ]:
df.groupby(['sex'])['salary'].mean()

In [ ]:
df.groupby(['discipline'])['salary'].mean()

In [ ]:
df[(df.phd==20) | (df.phd==40)]

In [ ]:
df[(df.phd==20) & (df['rank']=='Prof')]

In [ ]:
import pandas as pd
df=pd.read_csv("F:\\Data Science\\Data Sets\\mtcars.csv")
df

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df['gear'].max()

In [ ]:
df['wt'].min()

In [ ]:
df['cyl'].mean()

In [ ]:
df.mean()

In [ ]:
df['mpg'].value_counts()

In [ ]:
df.value_counts()

In [ ]:
df_describe=df.describe()
print(df_describe)

In [ ]:
df.std()

In [ ]:
df.head(10).max()

In [ ]:
df[['mpg','cyl','vs']]

In [ ]:
df['cyl'].describe()

In [ ]:
df.groupby(['cyl']).mean()

In [ ]:
df.groupby('vs')[['mpg','disp']].max()

In [ ]:
df[df.mpg>20]

In [ ]:
df[(df.mpg>20) | (df.vs==1)]

In [ ]:
df[(df.cyl==4) & (df.vs==1)]

In [ ]:
df_sub = df[(df.cyl==8) & (df.qsec<20)]
df_sub

In [ ]:
df_sub = df[(df.gear==3) & (df.wt<3) & (df.mpg<20)]
df_sub

In [ ]:
df.iloc[[1,2,3,4],[1,3,5]]

In [ ]:
df.iloc[1:4,0:3]

In [ ]:
df.iloc[20:,0:]

In [ ]:
df.iloc[20:31,0:]

In [ ]:
df.iloc[20:31,]

In [ ]:
df.iloc[:,4]

In [ ]:
df.iloc[:,1]

In [ ]:
import pandas as pd
shoplist = pd.DataFrame(columns=['Fruits','Vegetables','Snacks','Diary','Beverages'])
shoplist

In [ ]:
A=['Apple','Banana','Grapes','pineapple','kiwi']
B=('carrot','potato','cucumber','onion','beans')
C=['Chocolates','Biscuit','Candies','Waffles','Icecream']
D=('Milk','Butter','Ghee','Curd','Cheese')
E=['Miranda','Pepsi','Coco-cola','Fanta','Sprite']
shoplist['Fruits']=pd.Series(A)
shoplist['Vegetables']=pd.Series(B)
shoplist['Snacks']=pd.Series(C)
shoplist['Diary']=pd.Series(D)
shoplist['Beverages']=pd.Series(E)

shoplist

B=('carrot','potato','cucumber','onion','beans')
C=['Chocolates','Biscuit','Candies','Waffles','Icecream']
D=('Milk','Butter','Ghee','Curd','Cheese')
E=['Miranda','Pepsi','Coco-cola','Fanta','Sprite']

shoplist['Vegetables']=pd.Series(B)
shoplist['Snacks']=pd.Series(C)
shoplist['Diary']=pd.Series(D)
shoplist['Beverages']=pd.Series(E)
#D={'Fruits':'Orange','Vegetables':'Onion','Snacks':'Chips','Diary':'Milk','Beverages':'Miranda'}
#C={'Biscuit','Candies','Chocolates'}
#shoplist['Beverages']=pd.Series(C)
#shoplist =pd.DataFrame(D)

In [ ]:
dict1 ={'Room No':[101,102,103,104,105],
      'Occupancy':[2,4,5,6,5],
      'Cot':['Twin Bed','King Sized','Double Bed','Queen Sized','Double Bed'],
      'Sea View':[True,False,True,False,True],
      'AC':['AC','Non-AC','Non-AC','AC','AC'] }
df=pd.DataFrame(dict1)
df

In [ ]:
Fruits=pd.Series(['Apple','Banana','Grapes'])
Fruits

In [ ]:
#Color = pd.Series({'Apple':'Red','Banana':'Yellow','Grapes':'Purple'})
Fruits = pd.Series(['Apple','Banana','Grapes'])
print(Fruits)

In [ ]:
Color = Fruits.map({'Apple':'Red','Banana':'Yellow','Grapes':'Purple'})
Color

In [ ]:
Color = pd.Series(['Apple','Banana','Grapes','pineapple','kiwi'])
Color

In [ ]:
shoplist['Fruits']=shoplist['Fruits'].map({'Apple':'Red','Banana':'Yellow','Grapes':'Purple','pineapple':'yellow','kiwi':'brown'})              
print(shoplist)

In [ ]:
A = ['Suma','Mary']
B=[2,3]
C = pd.Series(A)
D = pd.Series(B)
Dict1 ={'Name':C,'Age': D}
df=pd.DataFrame(Dict1)
df

In [ ]:
import pandas as pd
S = pd.Series(5, index =[1,2,3,4])
S

In [ ]:
S= pd.Series(['A','B','C'],index =[1,2,3])
S

In [ ]:
S= pd.Series([1,2,3],index=['a','b','c'])
S

In [ ]:
S.values

In [ ]:
a = pd.Series([1,2,5,6])
a

In [ ]:
a.ndim #dimension

In [ ]:
import numpy as np
a=pd.Series(['Java','c','c++',np.nan])
a

In [ ]:
a=pd.Series([1,1,2,2,3,4])
pd.unique(a)

In [ ]:
a.value_counts()

In [ ]:
S = pd.Series(['Friends','Family'])
print(S)
S.map('I love my {}'.format, na_action = 'ignore')

In [ ]:
A=pd.Series(['Apple','Orange','Grapes'])
print(A)
A.map('I like {}'.format,na_action='ignore')

In [ ]:
txt1 = 'My name is {} ,I like {}'.format('Suma','Shinee') #, na_action = 'ignore'
txt1

In [ ]:
txt1 = 'My name is {0} ,I like {1}'.format('Suma','Shinee') #, na_action = 'ignore'
txt1

In [ ]:
txt1 = 'My name is {name} ,I like {band} band'.format( name = 'Suma',band = 'Shinee') #, na_action = 'ignore'
txt1

In [ ]:
L1 = [1,2,3]
L1 = ()

In [ ]:
L1 = lambda x
print(L1)
for i in L1:
    x = lambda i: i *5
    print(x(i))

In [ ]:
ages=[13,90,17,59,21,60,5]
ages
n = 20
F_ages=list(filter(lambda x:x>n,ages))
print(F_ages)

In [ ]:
import pandas as pd
df=pd.read_csv("F:\\Data Science\\Data Sets\\employee.csv")
#print(df)
dist = pd.DataFrame(df['DistanceFromHome'])
#print(dist)
dist['dist_label']=pd.cut(x=dist['DistanceFromHome'],bins=[0,2,5,10,15,20,25,28,30],labels =['Walkable','Very Close','Close','','Far','Very Far'])
dist

In [ ]:
a=pd.Series([10, 30, 10, 30, 43, 45, 49, 35, 48, 17, 25, 17, 15, 46, 28])
info_nums=pd.DataFrame({'age':a})
info_nums
info_nums['age_bins']=pd.cut(x=info_nums['age'],bins=[1,15,25,35,50],
                             labels=['Kids','Adolescents','Teenagers','Working'])
info_nums

In [ ]:
import pandas as pd
import numpy as np
a = np.arange(1,11)
l1=[]
l2=[]
l3=[]
df=pd.DataFrame(columns = ['Col0','Col1','Col2','Col3'])
df['Col0']=pd.Series(a)
for a in range(1,11):
    a1=a*a
    a2=a*a*a
    l1.append(a1)
    l2.append(a2)
    l3.append((a1+a2)/2)
print(l1)
print(l2)
print(l3)
df['Col1']=pd.Series(l1)
df['Col2']=pd.Series(l2)
df['Col3']=pd.Series(l3)
df

In [ ]:
a = np.arange(1,11)
l1=[]
l2=[]
l3=[]
df=pd.DataFrame(columns = ['Col0','Col1','Col2','Col3'])
df['Col0']=pd.Series(a)
for a in range(1,11):
    a1=a*a
    a2=a*a*a
    l1.append(a1)
    l2.append(a2)
    l3.append((a1+a2)/2)
df['Col1']=pd.Series(l1)
df['Col2']=pd.Series(l2)
df['Col3']=pd.Series(l3)
df

In [ ]:
frame={'x':x, 'y':y, "Z":z }
result=pd.DataFrame(frame)
result

In [ ]:
a = [54,54,70,82,70,90,82]
mode=max(a,key=a.count)
print(mode)

In [ ]:
def vote_age(x):
    if x >= 18:
        print('Eligible') 
    else:
        print('Not Eligible') 
vote_age(14)
vote_age(21)

In [ ]:
def country(x):
    if x == 'India':
        return 'Delhi'
    elif x == 'Thailand':
        return 'Bangkok'
    elif x == 'South Korea':
        return 'Seoul'
    elif x == 'Sri Lanka':
        return 'Columbo'
    elif x == 'United States':
        return 'Washington'
country('United States')

In [ ]:
def multoftwo(x):
    if x%2 == 0:
        print('Multiple of 2')
    else:
        print('Not a Multiple of 2')
multoftwo(3)
multoftwo(4)

In [ ]:
def vowel_Consonant(x):
    if x == 'a' or x == 'e' or x == 'i' or x == 'o' or x == 'u':
        print('Vowel')
    else:
        print('Consonant')
vowel_Consonant('i')
vowel_Consonant('z')

In [ ]:
def sub(x):
    if x == 'SB01':
        print('English')
    elif x == 'SB02':
        print('Chemistry')
    elif x == 'SB03':
        print('Physics')
sub('SB01')
sub('SB02')

In [1]:
n = int(input("Enter n: "))
#n = 6
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i + 1
print(sum)

Enter n: 3
6

In [3]:
n = int(input("Enter n: "))
f=1
while n>0:
    f = f * n
    n = n - 1
print(f)

Enter n: 4
24

In [ ]:
word = 'Python_is_great'
i = 0
while i<len(word):
    print(word[i])
    i=i+1

In [ ]:
n=input("Enter the word:")

L1=list(n)
c=len(L1)
i=0
while i<c:
    print(L1[i])
    i=i+1

In [ ]:
import pandas as pd
df = pd.read_csv("F:\\Data Science\\Data Sets\\employee.csv")
dist = df[df['Age']]
df['Age1'] = pd.cut(x=df['Age'], bins=[20,30,40,50], labels = ['Twenties','Thirties','Forties'])
dist
#if df.[(df.age>=20) & (df.age<30)]
#df[['Age'],['Age1']]
    #print('twe')

In [11]:
# define string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("The count is:", count)

The count is: 2

In [17]:
# define string
string = "Python is awesome, isn't it?"
substring = "i"

print(string[6])
print(string[25])
# count after first 'i' and before the last 'i'
count = string.count(substring, 8, 25)

# print count
print("The count is:", count)

i
The count is: 1

In [1]:
import pandas as pd
df=pd.read_csv("F:\\Data Science\\Data Sets\\employee.csv")

In [2]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2